<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Persons Details</h4>
        </div>
        <div class="card-body">                         
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>{{person.Title}} {{person.Forename}} {{person.Surname}}</dd>
                <dt>Job Title</dt>
                <dd>{{person.JobTitle}}</dd>
                <dt>Town</dt>
                <dd>{{person.Town}}</dd>
              </dl>
        </div>
    </div>
</div>